* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  max-width: 100dvw;
  overflow: hidden;
  margin: 0 auto;
}

@media only screen and (min-width: 942px) {
  .App {
    width: 942px;
  }
}

.Button {
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.Button__Icon {
  width: 14.5px;
  margin-right: 8px;
}

.Button--big {
  background: #3B3B47;
  color: white;
  padding: 16px;
  border-radius: 4px;
}

.Button--big:hover {
  background: black;
}

a {
  color: #6C6972;
  font-size: 14px;
}

p a {
  color: black;
}